# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# IDE - VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# IDE - JetBrains
.idea/
*.iml

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock

# Android
android/app/build/
android/.gradle/
android/build/
android/local.properties
android/*.hprof

# Testing
coverage/
.jest/

# Environment files
.env
.env.development
.env.production
.env.test

# Logs
logs/
*.log

# Temporary files
tmp/
temp/

# Firebase
google-services.json
GoogleService-Info.plist

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
